
{% if site.web-app-mode %}

  <!-- iOS Web App mode -->

  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png?v=3">
 
  <!-- Android Web App mode -->

  <link rel="manifest" href="/manifest.json?v=3">

  <!-- Windows Web App mode -->

  <meta name="msapplication-TileColor" content="00cdff">
  <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png?v=3">
  <meta name="msapplication-config" content="/browserconfig.xml?v=3">
  <meta name="theme-color" content="00cdff">


{% endif %}
